/* ////////////// */
/* MEDIA QUERIES */
/* //////////// */

/* MUSIC COMPONENT */

@media screen and (max-width: 1200px) {
  #music_component {
    .music_content {
      .image_wrapper {
        .album_wrapper {
          min-width: 300px;
          .album_artwork {
            width: 250px;
            margin: 25px auto;
          }
          .album_description {
            height: 50px;
            &.blueht_desc {
              height: calc(50px + 6px);
              margin-top: -6px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  #music_component {
    height: 150vh;
    .music_content {
      .image_wrapper {
        flex-wrap: wrap;
        .album_wrapper {
          min-width: 200px;
          &:first-child {
            width: 100%;
          }
          .album_artwork {
            width: 175px;
            margin-bottom: 25px;
          }
        }
      }
    }
  }
}

/* SOCIAL MEDIA COMPONENT */

@media screen and (max-width: 832px) {
  #social_media_component {
    #icons_container {
      .icons {
        flex-wrap: wrap;
        .fab {
          width: 100px;
          height: 100px;
          font-size: 70px;
        }
      }
    }
  }
}