/* //////////////// */
/* GLOBAL SETTINGS */
/* ////////////// */

body,
html {
    overflow: hidden;
}

body {
    background-color: black;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

section {
    margin: 10px;
}

/* ////////////////// */
/* PARALLAX SETTINGS */
/* //////////////// */

.parallax {
    height: 500px; /* fallback for older browsers */
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 300px;
    perspective: 300px;
    /*background-color: lightgreen;*/
}

.parallax__group {
    position: relative;
    height: 500px; /* fallback for older browsers */
    height: 100vh;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: aquamarine; */
}

.parallax__layer_tourdates {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 12%;
    text-align: center;
}

.parallax__layer--fore {
    -webkit-transform: translateZ(90px) scale(0.7);
    transform: translateZ(90px) scale(0.7);
    z-index: 1;
    /* background-color: royalblue; */
}

.parallax__layer--base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 4;
    /* background-color: tomato; */
}

.parallax__layer--back {
    -webkit-transform: translateZ(-300px) scale(2);
    transform: translateZ(-300px) scale(2);
    z-index: 3;
    /*background-color: goldenrod;*/
}

/* //////////////// */
/* 1.1 VIDEO COMPONENT */
/* ////////////// */

/* GROUP 1 */
/* slides over tourdates_component (group 3) */

#video_component {
    z-index: 5;
}

#video_component video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#video_component #bitter_logo {
    width: 90%;
    transition: filter 0.5s ease-out;
}

#video_component .video_headline:hover #bitter_logo {
    filter: blur(5px);
    cursor: pointer;
}

/* //////////////////////// */
/* 1.2 TOURDATES COMPONENT */
/* ////////////////////// */

/* GROUP 2 */
/* slides under video_component (group 1) and band_photo_component (group 3) */

.tourdates_foreground {
    font-size: 32px;
    margin: 20px;
    opacity: 0;
    transition: opacity 1s;
}

.visible {
    opacity: 1;
}

#tourdates_component {
    z-index: 4;
}

#tourdates_component a {
    color: grey;
    transition: all 1s ease-out;
}

#tourdates_component a:hover {
    color: red;
}

/* ////////////////// */
/* 2. BAND COMPONENT */
/* //////////////// */

/* GROUP 3 */
/* slides over tourdates_component (group 2) and spotify_component (group 4) */

#band_photo_component {
    z-index: 3;
}

#band_photo_component .parallax__layer--fore {
    background-image: url('images/band_logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#band_photo_component .parallax__layer--base {
    background-image: url('images/kora_winter_band.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/* //////////////// */
/* 3. MERCH COMPONENT */
/* ////////////// */

#merch_photo_component {
    z-index: 3;
}

#merch_logo_container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#merch_logo {
    width: 90%;
    transition: all 0.5s ease-out;
}

#merch_logo:hover {
    filter: blur(5px);
}

#merch_photo_component .parallax__layer--base {
    background-image: url('images/merch.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* ////////////////// */
/* 4. MUSIC COMPONENT */
/* //////////////// */

/* GROUP 4 */
/* slides over group social_media_component (group 5) */

#music_component {
    z-index: 2;
}
#music_component .parallax__layer--fore {
    color: white;
}
#music_component .parallax__layer--base {
    background-color: black;
    color: white;
}

/* ALBUM ARTWORK */

.image_wrapper, .album_wrapper {
    display: flex;
}

.image_wrapper {
    flex-direction: row;
    justify-content: space-evenly;
}

.album_wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.album_wrapper .album_artwork {
    display: block;
    width: 300px;
    margin: 50px;
    filter: grayscale(75%);
    transition: all 1s ease-out;
}

.album_wrapper a:hover .album_artwork {
    filter: grayscale(0%);
    transform: scale(1.1);
}

/* ALBUM DESCRIPTION */

.album_wrapper .album_description {
    margin: auto;
    display: block;
    height: 111px;
}
.album_wrapper .album_description.blueht_desc {
    height: 124px;
    margin-top: -13px;
}


/* /////////////////////// */
/* 5. SOCIAL MEDIA COMPONENT */
/* ///////////////////// */

/* GROUP 5 */
/* slides under music_component (group 4) */

#social_media_component {
    text-align: center;
    z-index: 1;
}

#icons_container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#social_media_component .parallax__layer--back {
    background-image: url('images/album_artwork.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(90%) brightness(40%);
}

.fab {
    font-size: 15vh;
    margin: 40px;
    transition: all 1s ease-out;
}

.fab:hover {
    color: red;
}

.icons {
    width: 100%;
}
.icons i {
    width: 75px;
}
.fas {
    font-size: 7vh;
}

/* ////////////////////////// */
/* 6. LEGAL NOTICE COMPONENT */
/* //////////////////////// */

#legal_notice_component {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
    overflow: scroll;
    background: black;
    text-align: center;
    padding: 5%;
}

#legal_notice_text {
    cursor: pointer;
    font-size: 14px;
}

.legal_notice_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    background-color: black;
}

/* ////////////// */
/* MEDIA QUERIES */
/* //////////// */

/* VIDEO COMPONENT: */

@media (max-width: 800px) {
    #video_component .parallax__layer--base {
        background: url('images/screenshot_02.png') center center / cover
            no-repeat;
    }

    video {
        display: none;
    }

    #bitter_logo:hover {
        cursor: auto;
        filter: blur(0px);
    }
}

/* TOURDATES COMPONENT: */

@media screen and (max-width: 1500px) {
    .tourdates_foreground {
        font-size: 28px;
    }
}

@media screen and (max-width: 1300px) {
    .tourdates_foreground {
        font-size: 24px;
    }
}

@media screen and (max-width: 1000px) {
    .tourdates_foreground {
        font-size: 20px;
    }
}

@media screen and (max-width: 900px) {
    .tourdates_foreground {
        font-size: 18px;
    }

    #tourdates_component .parallax__layer--fore {
        margin: -100px 40px 0px 40px;
    }
}

@media screen and (max-width: 414px) {
    .tourdates_foreground {
        font-size: 12px;
    }

    #tourdates_component .parallax__layer--fore {
        margin: -80px 30px 0px 30px;
    }
}

/* MUSIC COMPONENT */

@media screen and (max-width: 1200px) {
    .album_wrapper {
        min-width: 300px;
    }
    .album_wrapper .album_artwork {
        width: 250px;
        margin: 25px auto
    }
    .album_wrapper .album_description {
        height: 50px;
    }
    .album_wrapper .album_description.blueht_desc {
        height: calc(50px + 6px);
        margin-top: -6px;
    }
}

@media screen and (max-width: 1000px) {
    #music_component {
        height: 150vh;
    }
    .image_wrapper {
        flex-wrap: wrap;
    }
    .album_wrapper {
        width: 100%;
    }
    .album_wrapper .album_artwork {
        width: 175px;
        margin: 25px auto
    }
}

/* SOCIAL MEDIA COMPONENT */

@media screen and (max-width: 832px) {
    .icons {
        width: 400px;
    }

    .fab {
        font-size: 10vh;
        margin: 40px;
    }
    .icons i {
        width: 56px;
    }
}

/* ///////////// */
/* MISCALLENOUS */
/* /////////// */

.center_content {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
