/* GLOBAL SETTINGS */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

img {
    width: 100px;
    height: auto;
}

.flex_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.component_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px dashed black;
    width: 100%;
}

.fab {
    font-size: 100px;
    margin: 40px;
}

/* VIDEO SETTINGS */

/* TOURDATES SETTINGS */

/* SOCIAL MEDIA SETTINGS */

.icons {
}

/* SPOTIFY SETTINGS */

/* FOOTER SETTINGS */

/* MISC */
