/* GLOBAL SETTINGS */

body,
html {
    overflow: hidden;
}

body {
    font: 100% / 1.5 Arial;
    background-color: black;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}
/* PARALLAX SETTINGS */

.parallax {
    height: 500px; /* fallback for older browsers */
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 300px;
    perspective: 300px;
}

.parallax__group {
    position: relative;
    height: 500px; /* fallback for older browsers */
    height: 100vh;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* this isn't nice, how to add changes to existing class? */

.parallax__layer_tourdates {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 12%;
    text-align: center;
}

.parallax__layer--fore {
    -webkit-transform: translateZ(90px) scale(0.7);
    transform: translateZ(90px) scale(0.7);
    z-index: 1;
}

.parallax__layer--base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 4;
}

.parallax__layer--back {
    -webkit-transform: translateZ(-300px) scale(2);
    transform: translateZ(-300px) scale(2);
    z-index: 3;
}

/* COMPONENT SETTINGS */

/* GROUP 1 */
/* slides over tourdates_component (group 3) */

#video_component {
    z-index: 5;
}
#video_component .parallax__layer--base {
    background-color: red;
}

#video_component video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#bitter_logo {
    width: 50%;
    transition: all 1s ease-out;
}

#bitter_logo:hover {
    cursor: pointer;
    filter: blur(50px);
}

@media (max-width: 767px) {
    #video_component .parallax__layer--base {
        background: url('images/screenshot_02.png') center center / cover
            no-repeat;
    }

    video {
        display: none;
    }
}

/* GROUP 2 */
/* slides under video_component (group 1) and band_photo_component (group 3) */

.tourdates_foreground {
    font-size: 24px;
    padding: 10px;
}

#tourdates_component {
    z-index: 4;
}
#tourdates_component .parallax__layer--fore {
    color: white;
}
#tourdates_component .parallax__layer--base {
    background-color: black;
    color: white;
}

/* GROUP 3 */
/* slides over tourdates_component (group 2) and spotify_component (group 4) */

#band_photo_component {
    z-index: 3;
}
#band_photo_component .parallax__layer--fore {
    background-image: url('images/band_logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#band_photo_component .parallax__layer--base {
    background-image: url('images/kora_winter_band.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/* GROUP 4 */
/* slides over group social_media_component (group 5) */

#spotify_component {
    z-index: 2;
}
#spotify_component .parallax__layer--fore {
    color: white;
}
#spotify_component .parallax__layer--base {
    background-color: black;
    color: white;
}

/* GROUP 5 */
/* slides under spotify_component (group 4) */

#social_media_component {
    z-index: 1;
}
#social_media_component .parallax__layer--back {
    background-image: url('images/album_artwork.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(90%) brightness(40%);
}

.fab {
    font-size: 150px;
    margin: 40px;
    transition: all 1s ease-out;
}

.fab:hover {
    color: red;
}

.icons {
    width: 100%;
}

/* MISC */

.center_content {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
